[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask_cors = "*"
mlbgame = "*"
jsonpickle = "*"
mongoengine = "*"
nba-api = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"

[scripts]
start = "python cashman.py"
